<h2>Products</h2>

{{#linkTo "new_product"}}New Product{{/linkTo}}

{{#view "table"}}
  <thead>
    <th>name</th>
    <th>price</th>
  </thead>
  <tbody>
    {{#each product in controller}}
    <tr>
      <td>{{ product.name }}</td>
      <td>$ {{ product.price }}</td>
      <td>{{#linkTo "product" product }}view{{/linkTo}}</td>
    </tr>
    {{/each}}
  </tbody>
{{/view}}
